/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap')

/* override default */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Manrope', sans-serif;

}

/* anchor to other parts of the website */
.container{
    background-color: rgba(106, 87, 87, 0.268);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: flex-center;
    gap: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
}


/* Header */
header {
    background-image: url(assets/pexels-pixabay-355808.jpg);
    width: 100%;
    padding: 0 1rem;
    z-index: 99;
    box-shadow: 0 2px 2px rgb(33, 42, 220);
    
}

#social-media {
    /*background-color: rgb(201, 156, 156);
    list-style: none;
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;*/
}
/* main content */
main {
    background-color: lightgray;
    /*have  space in the middle, push footer down*/
    flex: 1 0 auto;
}


/* Responsive layout - when the screen is less than 600px wide, make the three columns stack 
on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      float: left;
    }
}


/* Clear floats after the columns */
.row:after {
    display: table;
    clear: both;
  }

 h3 {
    text-align: center;
 }


/* footer */
.footer-container {
    background-color: rgb(189, 218, 232);
    text-align: center;
}

/*style for application form*/






.comments {
    height: 200px;
}

/*input[type=submit] {
    background-color: #ca3f59;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }*/