/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Rowdies:wght@300;400;700&display=swap')

/* override default */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* general styles */
body {
    color: black;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/*navigation bar*/
.logo {
    display: flex;
    align-self: flex-start;
    margin: 0 1rem;
}
/*styling for logo*/
img {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
/*home, gallery, application*/
li, a {
    font-family: "Rowdies", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    color: whitesmoke;
    letter-spacing: 3px;
    text-decoration: none;
}
.nav > li {
    display: inline-block;
    padding: 0 25px;
}

#navigation {
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(58, 52, 52);
}

/* Header*/
.hero-text {
    width: 80%;
    padding: 1rem;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    font-size: 120%;
    position: absolute;
    color: rgb(13, 12, 11);

}

/*hero image*/
.hero-img {
    background-image: url(../images/jumping\ on\ the\ beach.webp);
    background-repeat: no-repeat; 
    align-self: center; 
    background-size: cover;
    background-position: center;
    height: 630px;
    width: auto;
    position: relative;
   
}

/*style for main conntext. Information text*/
.div > h3 {
    font-family: "Rowdies", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 30px;
}
 



#social-media {
    background-color: rgb(58, 52, 52);
    list-style: none;
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
}

/* footer */
.contact-info {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: small;
}

/*FORM STYLE*/
    .title {
    text-align: center;
   }

   /*form wrapper*/
   .wraper-main {
       max-width: fit-content;
       margin: 2rem auto;
       border: 2px solid rgb(140, 114, 114);
       padding: 2rem;
   }
   .img-form {

   }

   #sendBtn {
   background-color: rgb(208, 59, 45);
   padding: 0.5rem;
   cursor: pointer;
   }
   #resBtn {
   background-color: rgb(46, 205, 184);
   padding: 0.5rem;
   cursor: pointer;
   }
   #sendBtn:hover {
   color: rgb(46, 225, 40);
   }
   #resBtn:hover {
   color: coral;
   }
   input[type=text], textarea, select, button, email {
       padding: 5px;
       border-radius: 5px
   }

/* Responsive layout, less than 600px wide. The three columns stack 
on top of each other , is for or. and is for and */
@media (min-width: 600px) {

    .column {
        width: 100%;
        float: left;
      }

}

  /*Media query: Tablets and larger (768px and up)*/
  @media (min-width: 768px) and (orientation: landscape) {
    /*Header*/
    .nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }
  }

  /*Large devices (laptops and desktops, 992 px and up)*/
  @media (min-width: 992px) and (orientation: landscape) {
    .nav a:hover {
        border-bottom: 1px solid gold;
    }

    .logo {
        display: flex;
        align-self: flex-start;
        margin: 0 1rem;
    }

    img {
        border: 2px solid whitesmoke;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
    }
  }